# IDE Stuffs
## eclipse
.classpath
.project
.settings
.cproject
## netbeans
nb-configuration.xml
nbactions*.xml
## intellij files
*.iml
.idea
.editorconfig
## premake
premake5
.modules

out/
obj/
bin
Makefile
ns3-federate.make

src/Mosaic/model/ClientServerChannel*
ClientServerChannelMessages.pb.*
ns3_federate_config*.xml